.App {
    background-color: #e2ddff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music_player {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_div {
    width: 390px;
    height: 230px;

    background: #f8f8f8;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 20px 15px 40px rgba(54, 48, 116, 0.3);
    border-radius: 30px;
    padding: 20px;

    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
}
.music_image_div {
    width: 180px;
    height: 180px;
    background: #f8f8f8;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        rgba(100, 62, 62, 0.15),
        rgba(255, 255, 255, 0.85)
    );
    box-shadow: 3px 3px 3px 0 rgb(0 0 0 / 15%),
        -2px -2px 3px 0 rgb(255 255 255 / 20%);
}
.music_image {
    width: 165px;
    height: 165px;

    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        rgba(100, 62, 62, 0.2),
        rgba(255, 255, 255, 0.25)
    );
    box-shadow: 3px 3px 8px 0 rgb(0 0 0 / 25%),
        -2px -2px 3px 0 rgb(255 255 255 / 20%);
}
.music_details {
    width: 140px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
}
.music_status {
    font-size: 9px;
    color: rgb(179, 179, 179);
}
.music_name {
    font-size: 18px;
    font-weight: 700;
    color: #5d528fd2;
    margin: 0;
}
.music_singer {
    font-size: 14px;
    font-weight: 600;
    color: gray;
    margin: 3px 0;
}
.music_album {
    font-size: 10px;
    font-weight: 600;
    color: lightgrey;
    margin: 0;
}
.music_buttons {
    display: flex;
    width: 100px;
    justify-content: space-between;
}
.bottom_div {
    background-color: white;
    padding: 20px;
    height: 150px;
    width: 400px;
    border-radius: 0 20px 20px 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: 23px 23px 46px #b8b2ddc9, -10px -10px 16px #ffffff57;
}
.music_contols {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.icons {
    color: lightgray;
    font-size: 18px !important;
    cursor: pointer;
    border-radius: 50%;
}

.icon_border {
    border-radius: 50%;
    padding: 5px;
    background: #f8f8f8;
    box-shadow: -5px -5px 8px #ffffff, 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 10px #ffffff;
}

.play_button {
    font-size: 35px !important;
}

.main_button {
    color: #8878d1;
}
.icon_buttons {
    display: flex !important;
    padding: 0px !important;
    border-radius: 50% !important;
    min-width: 0px !important;
    color: #8878d1 !important;
}

@media screen and (max-width: 480px) {
    .music_player {
        flex-direction: column;
        width: 100%;
    }
    .top_div {
        width: 95%;
        padding: 10px;
        height: 200px;
    }
    .bottom_div {
        padding: 20px;
        height: 130px;
        width: 75%;
        border-radius: 0 0 20px 20px;
        min-width: 0;
        transform: translateY(-10px);
    }
    .music_image {
        width: 140px;
        height: 140px;
        border-radius: 15px;
    }
    .music_image_div {
        width: 160px !important;
        height: 160px !important;
        border-radius: 20px;
    }
}
